/*
* Minimal Share Buttns
* version: 0.0.4
* Author: Raphael P. de Freitas
* Github: github.com/raphaelpor
* Linkedin: br.linkedin.com/in/raphaelpor/pt
*/

/* Icons */
.minshare_bt:before {
    margin-right:7px;
    font-size:15px;
}

/* Default link */
.minshare_bt, .minshare_bt:active, .minshare_bt:visited, .minshare_bt:focus {
    background: transparent;
    width: 19%;
    display: inline-block;
    margin-right: 0.5%;
    padding:15px 2%;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    font-size: 15px;
    outline-offset: 0;
}

/* Twitter */
.minshare_bt_twt, .minshare_bt_twt:active, .minshare_bt_twt:visited, .minshare_bt_twt:focus {
    color:#55acee;
    outline: 2px solid #55acee;
}
.minshare_bt_twt:hover {
    background:#55acee;
    outline: 2px solid #55acee;
}

/* Facebook */
.minshare_bt_fb, .minshare_bt_fb:active, .minshare_bt_fb:visited, .minshare_bt_fb:focus {
    color:#3b5998;
    outline: 2px solid #3b5998;
}
.minshare_bt_fb:hover {
    background:#3b5998;
    outline: 2px solid #3b5998;
}

/* Google+ */
.minshare_bt_gg, .minshare_bt_gg:active, .minshare_bt_gg:visited, .minshare_bt_gg:focus {
    color:#d73d32;
    outline: 2px solid #d73d32;
}
.minshare_bt_gg:hover {
    background:#d73d32;
    outline: 2px solid #d73d32;
}

/* Pinterest */
.minshare_bt_pin, .minshare_bt_pin:active, .minshare_bt_pin:visited, .minshare_bt_pin:focus {
    color:#e3262e;
    outline: 2px solid #e3262e;
}
.minshare_bt_pin:hover {
    background:#e3262e;
    outline: 2px solid #e3262e;
}


.minshare_bt:hover {
    color:#fff;
    text-decoration: none;
}

/* Reponsible */
@media screen and (max-width: 500px) {
    .minshare_bt {text-align:center;}
    .minshare_bt span {display:none;}
    minshare_bt:before {
        margin-right:0;
        font-size:17px;
    }
}